/* basic/initial styles */
@import './basic/reset.css';
@import './basic/variables.css';
@import './basic/layout.css';

/* 3rd-party */
@import './3rd-party/font-awesome.min.css';

/* component styles */
@import './components/button.css';
@import './components/clock.css';
@import './components/form.css';
@import './components/mouse.css';
@import './components/progress-bar.css';

/* CUSTOM STYLE FOR HOME PAGE GOES BELOW THIS COMMENT */

.bg-primary {
  background-color: var(--color-primary);
}
.bg-secondary {
  background-color: var(--color-secondary);
}

/* HERO */
.hero {
  min-height: 100vh;
  padding-bottom: 20px;
  background-image: url(../img/hero-background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.hero > .row {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
}

.hero .logo {
  height: 30px;
}

.hero h1 {
  font-size: 70px;
  text-transform: uppercase;
  color: var(--color-dark);
}

.hero p {
  font-size: 18px;
  color: var(--color-grey);
}

/* MAIN */
.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

main h2 {
  width: 100%;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--color-dark);
}

main p {
  width: 100%;
  font-size: 17px;
  line-height: 1.7em;
  color: var(--color-grey);
}
main p a {
  color: var(--color-secondary);
  text-decoration: none;
}

/* FOOTER */
footer.container {
  padding-top: 0;
}

.container .socials {
  display: flex;
  padding: 15px 0;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  border-bottom: 1px solid #fff;
  position: relative;
}
.socials > .social {
  display: inline-block;
  width: 44px;
  height: 44px;
  color: var(--color-light);
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  line-height: 44px;
  text-decoration: none;
  transition: all 0.3s;
}
.socials > .social:hover {
  background-color: var(--color-light);
  color: var(--color-primary);
}

.back-to-top {
  position: absolute;
  top: -26px;
  right: -12px;
}

footer.container > .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  color: #fff8;
  font-size: 17px;
  line-height: 1.7em;
}
.footer-logo {
  margin: 30px 0;

}
.triple {
  display: flex;
  gap: 0 30px;  
}
.triple > p {
  position: relative;
}
.triple > p + p::before {
  content: '';
  display: inline-block;
  border-radius: 50%;
  width: 1px; 
  height: 15px; 
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
  
}
footer > .row {
  color: #fff;
  text-decoration: none;
}
@media (max-width: 640px) {
  .triple {
    flex-direction: column;
  }
  .triple > p + p ::before {
    display: none;
  }
}