.btn {
    display: inline-block;
    width: auto;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 20px; 
    text-align: center; 
    background-color: var(--color-secondary);
    color: var(--color-light);
    border-radius: 2px;
    box-shadow: 0 1px 2px #0002;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    box-shadow: 0 2px 8px #0007;
}
.btn.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-light);
}
.btn.btn-small {
    padding: 8px 10px;

}





.btn.btn-big {
    padding: 15px 30px;
    font-size: 24px;
    line-height: 30px;

}
.btn.btn-round {
padding: 0;
width: 44px;


}